/* font
 font-family: 'Poppins', sans-serif;
font-family: 'Sen', sans-serif;
 */

/* Phần code chung */

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.heading-lv2 {
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

/* code phần khối giao diện */
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

/* Phần header */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  /* phần phía trên sign up cách phía trên 8px cho bằng với phần bên dưới,nên để top -28px(36px-8),để âm 28 để cho phần 
  thừa ra bị ẩn đi */
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}

.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}

/* Thanh điều hướng */
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

/* Dùng shadow tạo hiệu ứng in đậm khi hover  */
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0px 0px currentColor;
}

/* tạo dấu gạch chân dưới Home */
.nav li.active a::after {
  left: 21px;
  bottom: 6px;
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

/* sign-up  */
.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 16px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* phần hero  */

.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* =========== hero left ================== */

.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  left: 300px;
  border-radius: 20px;
  background-color: #ffffff;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon2 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .info .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .info .title {
  font-size: 1.4rem;
  color: #171100;
  line-height: 1.67;
  font-weight: 600;
}

/* =============== hero right ======= */

.hero .contain-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .cta-group {
  display: flex;
  margin-top: 38px;
  align-items: center;
}

.hero .btn {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.hero .watch-video span {
  margin-left: 14px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .descRecent {
  margin-top: 48px;
}

.hero .descstrong strong {
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  color: #171100;
  margin-right: 15px;
}

.hero .descstrong {
  margin-top: 8px;
}

.hero .descstrong strong:nth-child(2) {
  margin-left: 28px;
}

.popular {
  padding: 65px 0px 55px;
  margin-top: 135px;
}

.pupular-top {
  display: flex;
  justify-content: space-between;
}

.pupular-top .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  margin-top: 16px;
}

.pupular-top .controls {
  display: flex;
  gap: 18px;
}

.pupular-top .control-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb900;
}

.pupular-top .control-btn:hover {
  background-color: #ffb900;
  color: #ffffff;
  cursor: pointer;
}

.popular .courses-list {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
  gap: 30px;
}

.popular .courses-list .courses-item {
  flex: 1;
  max-width: 370px;
  height: 466px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
}

.popular .courses-list .courses-item:hover {
  box-shadow: 0px 18px 36px 0px #0000000d;
  border: none;
}
.popular .courses-item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
}

.popular .courses-item .info {
  margin: 16px 22px 22px;
}

.popular .courses-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .courses-item .title a {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.courses-item .head .value {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #fea31b;
  margin-left: 6px;
}

.popular .courses-item .desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  color: #5f5b53;
  margin-top: 6px;
}

.popular .courses-item .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0px 22px;
}

.popular .courses-item .foot .price {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .courses-item .foot .btn {
  border: none;
}

.courses-item .foot .btn:hover {
  background-color: #ffb900;
  color: #ffffff;
  cursor: pointer;
}

/* code phần feedback */

.feedback {
  background-color: #2e2100;
  margin-top: 135px;
  padding: 96px 0px;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback .feedback-items {
  display: flex;
  /* flex-shrink: 0; */
}

/* code khối bên trái */

/* .feedback .info {
  width: 159px;
} */

.feedback .info .avatar {
  border-radius: 50%;
  height: 72px;
  width: 72px;
  object-fit: cover;
}

.feedback .info .name {
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
  color: #f7f7f7;
  margin-top: 18px;
}

.feedback .info .desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  color: #bfbcb2;
  margin-top: 4px;
}

.feedback .info .dots {
  display: flex;
  width: 30px;
  gap: 6px;
  margin-top: 28px;
}

.feedback .info .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}

.feedback .info .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}

/* code khối bên phải */
.feedback .describe {
  width: 66%;
  margin-left: auto;
}

.feedback .describe .desc {
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
  color: #ffffff;
  padding-left: 36px;
}
